/*  Main color: #b9b4a9
    Highlight color: #b7c240 and #878688
*/
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2)
        format("woff2");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

body {
    background-color: #b9b4a9;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    height: 720px;
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.app {
    max-width: 1086px;
    margin: 0 auto;
}
/* Landing page */

.registerSection {
    max-height: 100vh;
}

.landing-logo {
    position: absolute;
    top: calc(50% - 99px);
    left: calc(25% - 103px);
}

.bgImgContainer {
    height: 720px;
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    position: absolute;
}

.landing-logo-bg {
    position: absolute;
    right: 0;
    top: 16px;
}

.top_bar {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 80px;
    width: 100%;
    height: 1px;
    z-index: 6;
}

/* form inside landing page */
.form_background {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(60, 88, 152);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: 8%;
    top: 100px;
    width: 530px;
    height: 572px;
    z-index: 9;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 1.2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: rgb(30, 34, 42);
}

.form_background img {
    position: relative;
    bottom: 0;
}
.userInfoBox {
    display: flex;
    gap: 20px;
}

.userInfoBox img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.registerSection h1 {
    font-size: 30px;
    font-family: "Open Sans";
    color: rgb(30, 34, 42);
    margin-bottom: 0.5rem;
}
.registerSection p {
    font-size: 12pt;
}

.signUpTextAccountType {
    margin-top: auto;
}

.signUpText {
    color: #b7c240;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.accountType {
    font-weight: normal;
    font-size: 14px;
    color: #878688;
}

.userData {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.continueButton {
    border-radius: 2px;
    background-color: rgb(184, 195, 62);
    width: 140px;
    height: 29px;
    z-index: 23;
    font-family: inherit;
    border: none;
    margin-bottom: 0.8rem;
    color: white;
    font-size: 11.5pt;
}
.continueButton:hover {
    cursor: pointer;
    background-color: rgb(135, 134, 136);
}

.topPartLogin {
    margin-left: 20px;
}

.error {
    color: red;
}

.changeUserSection {
    margin-top: auto;
    margin-bottom: 40px;
}

header {
    max-width: 1086px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 80px;
    margin-top: 5px;
}

/* left side of nav bar */
.navLogoContainer {
    height: 72px;
    width: 69px;
    margin-left: 27px;
}

.logo {
    width: 100%;
    height: 100%;
}

/* right side of nav bar  */
.navProfile {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navProfile ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.divider {
    opacity: 0.3;
}

.navProfile a {
    text-decoration: none;
    color: ghostwhite;
}

.navProfile a:hover {
    text-decoration: underline;
}

.profile-picture {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

/* modal component */
.modal {
    height: 200px;
    width: 300px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background-color: #878688;
}

.x {
    font-size: 1.3rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: auto;
}

/* Profile component */

.profile {
    display: flex;
    margin-top: 128px;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.profile h1 {
    padding: 1rem;
    font-size: 30px;
}

.profileImg {
    height: 150px;
    width: 150px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.infoContainer {
    display: flex;
}

.name {
    font-size: 20px;
}

.profileInfos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

.bioContainer {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(135, 134, 136);
    border-radius: 2px;
    background-color: white;
    width: 465px;
    height: 246px;
    padding: 1rem;
}

.bioForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* find user component */

.findUsers {
    margin-top: 50px;
}

.foundUserContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.foundUser {
    text-align: center;
    cursor: pointer;
}

.foundUser img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/*  input field design */

.group {
    position: relative;
    margin-bottom: 30px;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #878688;
    background-color: white;
    color: black;
}
input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: black;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #878688;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #878688;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #878688;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #878688;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #878688;
    }
    to {
        width: 0;
        background: transparent;
    }
}
