/*  Main color: #b9b4a9
    Highlight color: #b7c240 and #878688
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #b9b4a9;
    padding: 1rem;
}

.registerSection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerSection h1 {
    margin-bottom: 4rem;
    font-size: 2rem;
}

.error {
    color: red;
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    padding: 1rem;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
}
.navProfile {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navProfile a {
    text-decoration: none;
    color: ghostwhite;
}

.navProfile a:hover {
    text-decoration: underline;
}

.profile-picture {
    height: 60px;
    width: 60px;
    border: #b7c240 1px solid;
    cursor: pointer;
}

.modal {
    height: 200px;
    width: 300px;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background-color: #878688;
}

.x {
    font-size: 1.3rem;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: auto;
}

/* Profile component */

.profile {
    display: flex;
    margin-top: 50px;
}

.profile h1 {
    padding: 1rem;
}

.profileImg {
    height: 300px;
    width: 300px;
    padding: 1rem;
    cursor: pointer;
}

.bioForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* find user component */

.findUsers {
    margin-top: 50px;
}

.foundUserContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.foundUser {
    text-align: center;
    cursor: pointer;
}

.foundUser img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

/*  input field design */

.group {
    position: relative;
    margin-bottom: 45px;
}
input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #878688;
    background-color: #b9b4a9;
    color: black;
}
input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: black;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #878688;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #b7c240;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #b7c240;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #b7c240;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #b7c240;
    }
    to {
        width: 0;
        background: transparent;
    }
}
